.grid1 {
	/* padding: 4vw 0; */
	margin: auto;
	margin-top: 4vw;
	margin-bottom: 2vw;
	display: grid;
	grid-auto-flow: column;
	/* grid-auto-columns: 1fr; */
	column-gap: 1vw;
	justify-content: center;
}

.ch {
	border-bottom: 0.5vh solid;
	margin: 0 10%;
	width: 4vw;
}

.ch-space {
	margin: 0 10%;
	width: 2vw;
}

.grid2 {
	/* padding: 2vh 0; */
	margin: auto;
	margin-top: 2vh;
	display: grid;
	grid-auto-flow: column;
	/* grid-auto-columns: 1fr; */
	column-gap: 1vw;
	justify-content: center;
}

.gamingfont {
	font-family: 'Electrolize', sans-serif;
	font-size: 2.5vw;
}

.btn {
	border: 0.2vh solid;
	height: 4vw;
	width: 4vw;
	line-height: 4vw;
	cursor: pointer;
}

.btn-gone {
	color: rgba(255, 255, 255, 0);
	cursor: default;
}

.game {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 10vw;
}

.keyboard {
	padding: 4vw 0;	
}

.status {
	font-size: 2.5vw;
}