@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url("./css/home.css");
@import url("./css/status.css");
@import url("./css/lifebar.css");
@import url("./css/hangman.css");
@import url("./css/game.css");


.title {
	padding: 0.15vw;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 2.5vw;
}

.App {
	text-align: center;
}

.inline-div {
	display: inline-block;
}